# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.DS_Store*
# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# GoogleCalendar API Credentials
credentials.json
MySalonSolutions-cf4485c180f9.json
mysalonsolutions-0c004414cf68.p12
mysalonsolutions-ada809560bba.p12
client_secret_270196565546-14a77enee8gbdtjshe0m5m0qdtac5o5m.apps.googleusercontent.com
StoredCredential

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# Maven
/target/
/log/
/lib/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Database Properties:
database.properties

# Hibernate Properties:
hibernate.cfg.xml

# Context
context.xml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/src/main/resources/MySalonSolutions-cf4485c180f9.json
/src/main/resources/credentials.json
